.c-nav {
    position: fixed;
    width: 100%;
    padding: 1.6rem 0rem;
    display: flex;
    background: $background-secondary;
    box-shadow: $box-shadow--primary;
    z-index: $index-5;
    transition: $transition-fast;

    &.inactive {
        transform: translateY(-100%);
    }
    
    &__pageLink {
        &s {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 2rem;
        }

        a {
            @include h3;
            @include font--tertiary(500);
            transition: $transition-fast;
        }

        a:hover {
            @include font--secondary(500);
            color: $special-primary;
        }
    }
}