.c-pokemon {
    display: flex;
    flex-direction: column;

    img {
        image-rendering: pixelated;
    }

    &__details {
        display: flex;
        gap: 1rem;

        @media #{$tablet-down} {
            flex-direction: column;
        }

        $details_height: 18rem;

        &Sprite {
            padding: 2rem;
            height: $details_height;
            width: $details_height;
            border-radius: 8px;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$tablet-down} {
                width: unset;
            }
        }

        &Sprite img {
            height: calc($details_height / 1.4);
        }

        table {
            width: 100%;
            background: $white;
            border-radius: 8px;
        }

        tbody {
            display: table-row-group;
            vertical-align: middle;
        }
        
        tr {
            @include label;
            display: table-row;
            vertical-align: inherit;
        }

        th, td {
            @include font--primary();
        }

        th {
            color: $text-secondary;
            padding: 0.4rem 2rem;
            width: 2rem;
        }

        td {
            text-transform: capitalize;
        }
    }

    &__evolutions {
        width: 100%;
        height: 100%;
        margin-top: 4rem;
        overflow: hidden;

        &List {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            overflow-x: scroll;

            @media #{$tablet-down} {
                justify-content: unset;
            }
        }

        &List li p {
            text-align: center;
        }

        &Stage {
            position: relative;
        }

        &Stage p {
            text-transform: capitalize;
            font-weight: bold;
            color: $text-secondary;
        }

        &Stage img {
            height: 10rem;
        }

        &Next {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &Next p {
            max-width: 8rem;
            @include label;
        }

        &Next a {
            color: $special-primary;
            transition: $transition-fast;
        }

        &Next a:hover {
            color: $special-secondary;
            text-shadow: 2px 2px darken(rgba($special-secondary, $alpha: .2), 20%);
        }

        &Next img {
            width: 2rem;
        }
    }
}