.c-sources {
    & > p {
        color: $text-secondary;
    }

    &__list {
        margin-top: 5rem;
        list-style: disc;
        max-width: 40rem;

        & h2 {
            @include h4;
        }

        li a {
            color: $special-primary;
            transition: $transition-fast;
        }

        article > a {
            font-weight: 700;
        }

        li a:hover {
            color: $special-secondary;
            text-shadow: 2px 2px darken(rgba($special-secondary, $alpha: .2), 20%);
        }

        li p {
            @include label;
        }
    }
}